.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0;
}

.user-card-full {
    overflow: hidden
}

.card {
    /*border-radius: 5px;*/
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
}
/* image size with closed menu */
.img-thumbnail.closed {
    max-width: 30px;
    max-height: 30px;
}
.bg-c-lite-green {
    background: var(--color-system-secundary);
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.padding-text {
    margin: 12px 50px 0 50px;
}

.text-user-name {
    color: #BDBDBD;
    text-align: right;
    font: bold 14px/20px 'Roboto Bold', sans-serif;
}

.text-user-desc {
    color: #BDBDBD;
    text-align: right;
    font: normal 12px/18px 'Roboto Bold', sans-serif;
}

.divider {
    margin: 0 15px 0 15px !important;
    height: 1px;
    background-color: #707070;
}
