<div class="card user-card-full" >
    <div class="bg-c-lite-green user-profile">
        <div class="card-block h-100 text-center text-white">
            <div class="m-b-25">
                <img (click)="goToAccount()" [attr.src]="userLogged.userImage ? userLogged.userImage : 'assets/image/default-user.png'"
                     class="img-thumbnail clickable"
                     [ngClass]="menuOpened? '' : 'closed'"
                     alt="User Profile Image"></div>
            <p (click)="goToAccount()" *ngIf="menuOpened" class="clickable text-user-name text-center mt-2">{{getNAmeAndSurname(userLogged.userName)}}</p>
            <!-- <p class="text-user-desc padding-text">Cliente</p>-->
        </div>
        <div class="divider"></div>
    </div>
</div>

