.bg-dark {
    background-color: var(--color-system-secundary) !important;
}

.btn-login {
    background-color: var(--color-system-primary);
    color: var(--color-system-secundary);
    border: 1px solid var(--color-system-secundary);
    border-radius: 30px;
    font: bold 18px/24px Roboto, "Helvetica Neue", sans-serif;
}

.text-btn-login {
    padding: 0 20px;
    color: var(--color-system-secundary);
    font: bold 14px/20px Roboto, "Helvetica Neue", sans-serif
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}
