<div class="container p-lg-5 p-md-5 p-0 h-100">
    <div class="row p-lg-5 p-md-5 p-1 form-box-agendamentos">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-content-lg-start">
            <span class="text-title-agendamento align-content-center">
                <img class="default-height-width-icon mb-1" src="assets/icon-system/info-primary.svg"
                     alt="Agendamento">
                Sobre
            </span>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-5 mb-5">
            <h2 class="font-weight-bolder">
                Quem somos
            </h2>
            <p class="text-justify">
                O sistema Me agenda aí, surgiu como projeto de conclusão do curso de Análise e Desenvolvimento de
                Sistemas do Instituto Federal de Educação, Ciência e Tecnologia de São Paulo (IFSP).
            </p>
            <p class="text-justify">
                A ideia surgiu de 3 alunos: Manoela Viana Nardy Brenha, Jean Markis Costa Pereto e Vitória Simões
                Antonia de Carvalho.
            </p>
            <p class="text-justify"> Os estudantes sempre tiveram o interesse em inovar, e o Me agenda aí é a materialização deste
                interesse.
            </p>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-5 mb-5">
            <h2 class="font-weight-bolder">
                O que somos
            </h2>
            <p class="text-justify">
                Somos a uma plataforma de agendamentos que permite que você como cliente realize e organize agendamentos
                a seja qual for o momento e em qualquer lugar em questão de segundos, sem nenhuma necessidade de
                interação com quem irá realizar seu serviço.
            </p>
            <p class="text-justify">
                E você como empresa otimize o processo de agendamentos de sua empresa e tenha o controle de todos seus
                agendamentos.
            </p>
        </div>
    </div>
</div>
