<div class="container modal-body">
    <div class="row">
        <div class="col-12">
            <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-12" *ngIf="title">
            <p class="modal-title">{{title}}</p>
        </div>
        <div class="col-12" *ngIf="text">
            <p class="modal-text" [innerHTML]="text"></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mx-auto">
            <button (click)="close()" class="modal-button">{{button}}</button>
        </div>
    </div>
</div>
