<mat-drawer-container class="wrapper" [hasBackdrop]="menuConfig.hasBackdrop">
    <mat-drawer #sidenav [(opened)]="opened" [mode]="menuConfig.mode">
        <div class="bg-dark-menu sidebar-wrapper">
            <div class="sidebar-heading">
                <app-user-profile></app-user-profile>
            </div>
            <div class="list-group  list-group-flush">
                <a *ngFor="let menu of menuContent" [routerLink]="menu.routerLink"
                   [class.active]="menuItem === menu.menuItem"
                   (click)="setMenuCurrent(menu.menuItem)"
                   class="list-group-item list-group-item-action bg-dark-menu">
                    <span>{{menu.name}}</span>
                    <img class="icon-menu-margin default-height-width-icon"
                         [src]="menu.img.src"
                         [attr.alt]="menu.img.alt">
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark-menu mt-5" (click)="logoff()">
                    <span>Sair</span>
                    <img class="icon-menu-margin default-height-width-icon" src="assets/icon-system/sign-out-grey.svg"
                         alt="loggout">
                </a>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="toolbar">
            <button type="button" (click)="openMenu()" mat-icon-button class="menu icon"
                    aria-label="menu icon">
                <img src="assets/icon-system/menu-bars.svg" class="default-height-width-icon" alt="menu bar">
            </button>
        </mat-toolbar>
        <div class="content-page">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
