<nav id="main-menu">
    <ul class="nav-bar">
        <li class="nav-button-home"><a routerLink="/home" disabled="disabled">Me agenda aí </a></li>
        <li class="nav-button-services"><a routerLink="/home"disabled="disabled">Serviços</a></li>
        <li class="nav-button-products"><a routerLink="/home" disabled="disabled">Produtos</a></li>
        <li class="nav-button-products"><a routerLink="/" (click)="logoff()" disabled="disabled">Sair</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
