<div class="container-fluid h-100 min-vh-100  bg-home">
    <app-nav-bar-home></app-nav-bar-home>

    <div class="container mt-4">
        <div class="col  bg-container p-5">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3 mb-3">
                    <p class="text-title mt-5">O tempo não tira férias</p>
                    <p class="text-subtitle mt-4 mb-5">Nem para uma pausinha</p>

                    <p class="text-body mt-5 mb-5">Busque, encontre e agende seu serviço nos melhores estabelecimentos do Brasil.</p>


                    <button class="btn btn-get-started-now mt-5 mb-5">
                        Comece agora
                    </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3 mb-3">
                   <img src="assets/image/cellphone-calendar-home.svg" class="img-cellphone-calendar" alt="Cellphone calendar">
                </div>
            </div>
        </div>
    </div>
</div>
