.img-calendar {
    width: 100%;
    height: 100%;
}

.bg-calendar {
    background-color: #ffffff;
    width: 100%;
    position: relative;
    z-index: 1;
    background-image: url("src/assets/image/img-calendar.svg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-dark {
    background-color: var(--color-system-secundary) !important;
}

.text-title {
    font: bold 40px/46px Roboto, "Helvetica Neue", sans-serif;
    color: var(--color-system-primary);
}

.text-subtitle {
    font: bold 24px/30px Roboto, "Helvetica Neue", sans-serif;
    color: #8B8B8B;
}

.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: #6B6B6B; /* Color XD */
    width: 100%;
}

/* Mat field login */
/* input color class */
::ng-deep .mat-form-custom.mat-input-element {
    color: currentColor !important;
}

/* Change label color on focused */
::ng-deep .mat-form-custom.mat-form-field.mat-focused .mat-form-field-label {
    color: #0086F9;
}

/* underline border color on focused */
::ng-deep .mat-form-custom.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: currentColor;
}

::ng-deep .mat-form-custom.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0086F9 !important;
}

::ng-deep .mat-form-custom.mat-form-field-appearance-outline .mat-form-field-outline {
    color: currentColor;
}

::ng-deep .mat-form-custom.mat-form-field-infix.mat-form-field-label {
    color: currentColor;
}

::ng-deep .mat-form-field-placeholder {
    color: currentColor;
}

::ng-deep .mat-form-field-empty.mat-form-field-label,
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: currentColor;
}

/* Placeholder opacity */
::ng-deep .mat-input-element::placeholder {
    color: currentColor;
    opacity: 0.4;
}

/* Label */
::ng-deep.mat-form-field-label {
    color: currentColor;
}
/* End Mat field login */

/* Button login */
.btn-login {
    width: 100%;
    color: #111111;
    border-radius: 10px;
    background-color: var(--color-system-primary);
    border: 1px solid var(--color-system-primary);
}

.text-register {
    color: #8B8B8B;
    font: normal 16px/22px 'Roboto Bold', sans-serif;
}

.span-register {
    color: var(--color-system-primary);
}
