<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first mt-3 mb-3">
            <span class="material-icons">login</span>

        </div>

        <!-- Login Form -->
        <form>
            <label for="login">
                <input type="text" id="login" class="fadeIn second" name="email"
                       placeholder="E-mail">
            </label>
            <label for="password">
                <input type="text" id="password" class="fadeIn third" name="password"
                                         placeholder="senha">
            </label >


        </form>

        <button type="button" class="btn-sm btn-primary mt-2 mb-2" (click)="login()">LOGIN</button>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
