.card {
    /*width: 522px;*/
    padding: 0 30px;
    border-radius: 30px;
}

.card-bg-black, .card-header, .card-body, .card-footer {
    background-color: var(--color-system-secundary);
}

.card-header, .card-body {
    border-bottom: 1px solid #707070;
}

.card-title {
    font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: #ffffff;
}

.card-subtitle {
    font: 400 14px/18px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: #ffffff;
}

.card-body {

}

.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: #6B6B6B; /* Color XD */
    width: 100%;
}

/* Mat field login */
/* input color class */
::ng-deep .mat-form-custom.mat-input-element {
    color: currentColor !important;
}

/* Change label color on focused */
::ng-deep .mat-form-custom.mat-form-field.mat-focused .mat-form-field-label {
    color: #0086F9;
}

/* underline border color on focused */
::ng-deep .mat-form-custom.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: currentColor;
}

::ng-deep .mat-form-custom.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0086F9 !important;
}

::ng-deep .mat-form-custom.mat-form-field-appearance-outline .mat-form-field-outline {
    color: currentColor;
}

::ng-deep .mat-form-custom.mat-form-field-infix.mat-form-field-label {
    color: currentColor;
}

::ng-deep .mat-form-field-placeholder {
    color: currentColor;
}

::ng-deep .mat-form-field-empty.mat-form-field-label,
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: currentColor;
}

/* Placeholder opacity */
::ng-deep .mat-input-element::placeholder {
    color: currentColor;
    opacity: 0.4;
}

/* Label */
::ng-deep.mat-form-field-label {
    color: currentColor;
}

/* End Mat field login */
.btn-back {
    color: #ffffff;
}

.btn-recuperar {
    font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif;
    color: #ffffff;
    width: 100%;
    height: 54px;
    background-color: var(--color-system-primary);

}
