<button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div class="container p-5">

    <div class="row">
        <div class="col-12 mt-3 mb-2">
            <button class="btn btn-lg btn-login" (click)="goToLogin()">
                <img src="assets/icon-system/user-regular.svg" class="p-1 icon-btn-login" alt="user">
                <span class="separate">|</span>
                <span class="p-1">Entrar como cliente</span>
            </button>
        </div>
        <div class="col-12 mt-2 mb-3">
            <button class="btn btn-lg btn-login">
                <img src="assets/icon-system/company-regular.svg" class="p-1 icon-btn-login" alt="company">
                <span class="separate">|</span>
                <span class="p-1">Entrar como empresa</span>
            </button>
        </div>
    </div>

</div>
