.btn-login {
    font: bold 24px 'Roboto Bold', sans-serif;
    color: var(--color-system-secundary);
    background-color: var(--color-system-primary);
    border: 1px solid #707070;
    border-radius: 10px;
    height: 70px;
    min-width: 360px;
    text-align: left;
}

.separate {
    padding: 4px 15px;
}

.icon-btn-login {
    width: 30px;
    height: 30px;

}
