<div class="container p-lg-5 p-md-5 p-0" *ngIf="employee && userAuthenticated">
    <div class="text-right">
        <img src="assets/icons/logo/logo-black.svg" alt="Me Agenda Aí">
    </div>
    <div class="row p-lg-5 p-md-5 p-1 form-box">
        <div class="col-12 mb-3" *ngIf="userAuthenticated.role === roles.Funcionario">
            <button class="btn btn-sm text-copy-link" id="copy-text"  [cdkCopyToClipboard]="employee.link">
                <img class="default-height-width-icon" src="assets/icon-system/link.svg" alt="copy link"> Copiar link
            </button>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <img src="assets/image/default-user.png"  class="img-fluid border-photo-profile-company"
                 alt="Photo profile company">
        </div>
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
            <p class="name-company">{{employee.name}}</p>
            <p class="name-description">{{employee.descricao}}</p>

            <p class="recommendation-title font-weight-bolder">Recomendações</p>
            <p class="recommendation-text">
                Pedimos por gentileza que se atente
                ao horário agendado, pois atrasos
                superiores a 10 minutos podem
                ocasionar o cancelamento do seu
                atendimento sem a possibilidade
                de novo agendamento.
            </p>

            <button *ngIf="userAuthenticated.role === roles.Funcionario"
                    class="btn btn-lg btn-services m-1"
                    (click)="goToService()">Meus serviços
            </button>
            <button *ngIf="userAuthenticated.role === roles.Cliente"
                    class="btn btn-lg btn-services m-1"
                    (click)="goToSchuling()">Agendar
            </button>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <p class="opening-hours-title font-weight-bolder">Horário de funcionamento</p>
            <p class="opening-hours-text">Segunda à sexta</p>
            <p class="opening-hours-text">10h às 19h</p>

            <p class="contact-tittle font-weight-bolder">Contatos</p>
            <p class="contact-text" *ngFor="let phone of employee.phoneNumbers | slice:0:3; ">
                {{getPhone(phone)}}
            </p>
            <!--<p class="contact-text">{{employee.email}}</p>-->


        </div>

    </div>
</div>
