/* You can add global styles to this file, and also import other style files */
/* Font Family - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Root color system */
:root {
    --color-system-primary: #fcc617;
    --color-system-secundary: #111111;
}

/* End color system */

@font-face {
    font-family: 'Roboto Regular';
    font-weight: normal;
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('assets/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}

label {
    width: 100%;
}
.bg-dark {
    background: var(--color-system-secundary) !important;
}

.default-height-width-icon {
    width: 16px;
    height: 16px;
}
.default-height-width-icon-button {
    width: 16px;
    height: 16px;
}
html, body {
    height: 100%;
    /*height: 100vm;*/
    padding: 0;
    width: 100%;
    margin: 0;
    /*background-color: #E6E6E6 !important;*/
    background-color: #F8F8F8;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clickable {
    cursor: pointer;
}

.custom-modal .mat-dialog-container {
    border-radius: 10px;
    padding: 10px;
}
.custom-modal-register .mat-dialog-container {
    border-radius: 10px;
    padding: 0;
    background-color: var(--color-system-secundary);
    /*padding: 10px;*/
}
.blur {
    backdrop-filter: blur(20px);
}

.divider {
    margin: 0 15px 0 15px !important;
    height: 1px;
    background-color: #707070;
}

button {
    outline: none !important;
}


/**/
@media only screen and (max-width: 600px) {
    .custom-modal, .photo-modal {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    .custom-modal {
        width: 30%;
    }
}

/**/



