<div class="container p-lg-5 p-md-5 p-0" *ngIf="user">
    <div class="row p-lg-5 p-md-5 p-1 form-box-profile">
        <div class="col-12">
            <span class="text-title-profile align-content-center">
                <img class="default-height-width-icon mb-1" src="assets/icon-system/user-regular-primary.svg"
                     alt="Profile">
                Conta
            </span>
        </div>

        <div class="col-12">
            <div class="row form-box">
                <div class="col-12 mb-3">
                    <p class="sub-title-profile">Informações básicas</p>
                    <span class="description-text">Informações básicas, como seu nome e foto, usadas nos serviços do Me Agenda Aí</span>
                </div>

                <div class="col-12 structure-wrapper">
                    <div class="structure-row">
                        <div class="structure-contents">
                            <div class="structure-label label placement-top">
                                Sua foto
                            </div>
                            <div class="structure-contents">
                                <div class="photo-upload-container">
                                    <div class="photo-display">
                                        <div class="photo-profile photo-profile-xl" style="background-image: url('assets/image/default-user.png')">
                                        </div>
                                    </div>
                                    <div class="photo-description">
                                        <div class="photo-upload-button">
                                        <span role="button" aria-disabled="false"
                                              tabindex="0">Enviar uma nova foto</span>
                                            <span class="photo-upload-button-separator"> • </span>
                                            <span role="button" aria-disabled="false"
                                                  tabindex="0">Remover foto</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 structure-wrapper">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                            <p class="profile-description">Nome</p>
                            <p class="profile-tem">{{user.name}}</p>
                        </div>
                        <div class="col text-right align-self-baseline">
                            <button class="btn btn-sm btn-edit-info-profile" (click)="editName(user.userId)">Editar nome</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-12 structure-wrapper">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                            <p class="profile-description">E-mail</p>
                            <p class="profile-tem">{{user.email}}</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-12 structure-wrapper">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                            <p class="profile-description">Cadastro feito</p>
                            <p class="profile-tem">
                                {{user.createAt | date:'dd MMM yyyy'}}
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
