<div class="container p-lg-5 p-md-5 p-0 h-100" *ngIf="listServices && listServicesEmployee">
    <div class="row p-lg-5 p-md-5 p-1 form-box-agendamentos">
        <div class="col-12 align-content-lg-start">
            <span class="text-title-employee align-content-center">
                <img class="default-height-width-icon mb-1" src="assets/icon-system/employee-primary.svg"
                     alt="Employee">
                Serviços do funcionário
            </span>
        </div>
        <div class="col-12 align-self-end text-right">
            <button (click)="addServices()" class="btn btn-sm bg-transparent btn-add-employee">
                <img class="mb-1 mr-1 default-height-width-icon-button"
                     src="assets/icon-system/add-employee-primary.svg" alt="Add employee">
                Adicionar serviços
            </button>
        </div>
        <div class="col-12 mt-5 mb-5 align-content-center">
            <div class="table-responsive table-height">
                <table class="table-employee table">
                    <thead>
                    <tr>
                        <th scope="col">Nome do serviço</th>
                        <th scope="col">Duração (em minutos)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let service of listServices; let i = index" [id]="service.serviceId + i">
                        <th scope="row">{{service.name}}</th>
                        <td>{{service.durationMinutes}} minuto(s)</td>
                        <td>
                            <label class="text-center align-content-center m-0">
                                <input class="" (click)="addServiceToEmployee(service.serviceId)"
                                       [checked]="checkServiceToEmployee(service.serviceId)"
                                       type="checkbox" name="service"
                                       [id]="'check' + service.serviceId + i">
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12" *ngIf="msgError">
            <p class="text-light">{{msgError}}</p>
        </div>
        <div class="col-12">
            <button class="btn btn-sm btn-add-services" (click)="saveService(formGroupAddServicesToEmployee.value)">
                Adicionar serviços
            </button>
        </div>
    </div>
</div>
