<button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div class="container container-padding">

    <div class="row">
        <div class="col-12 mt-3 mb-2">
            <button class="btn btn-lg btn-register" (click)="goToRegister(roles.Cliente)">
                <img src="assets/icon-system/user-regular.svg" class="p-1 default-height-width-icon" alt="user">
                <span class="separate">|</span>
                <span class="p-1">Registrar como cliente</span>
            </button>
        </div>
        <div class="col-12 mt-2 mb-3">
            <button class="btn btn-lg btn-register" (click)="goToRegister(roles.UsuarioEmpresa)">
                <img src="assets/icon-system/company-regular.svg" class="p-1 default-height-width-icon" alt="company">
                <span class="separate">|</span>
                <span class="p-1">Registrar como empresa</span>
            </button>
        </div>
    </div>

</div>
